<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistica & distribución Rutas del Sol </title>
    <link href="https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/estilos_logistica.css">

</head>

<body>
    <header>
        <div class="logo_nombre">

            <img class="logotipo" src="/images/camion_ruta.jpg" alt=" Rutas del Sol ">

            <div class="nombre_empresa">Logistica & distribución Rutas del Sol S.R.L.</div>

            <!--<H2 id="nombre_empresa">Logistica & distribución Rutas del Sol S.R.L.</H2>-->


        </div>


    </header>

   

    {{{body}}}  



    <footer>

        <!--<h5>SEGUINOS EN REDES</h5>
       <!-- <ul class="redes-sociales">
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="/images/facebook-icon.png" alt="facebook"> </a>
            </li>

            <li> <a href="https://www.linkedin.com" target="_blank">
                    <img src="/images/linkedin-icon.png" alt="linkedIn">

                </a>
            </li>

            <li><a href="http://www.instagram.com" target="_blank">
                    <img src="/images/instagram-icon.png" alt="dribble"> </a>
            </li>


        </ul>






        <ul>
            <ul class="horarios">
                <li class="infofooter">HORARIOS DE ATENCION</li>
                <li class="infofooter">Lunes a viernes de 8:30 a 17:30 hs</li>
                <li class="infofooter">Sabado y feriados de 8:30 a 12:hs</li>
            </ul>

        </ul>


        <ul>
            <ul class="telefonos">
                <li class="infofooter">TELEFONOS</li>
                <li class="infofooter">+054 01115325641</li>
                <li class="infofooter">+054 01115325645</li>
                <li class="infofooter">+054 02322 426532</li>
            </ul>


        </ul>-->








        <p> © Copyright derechos reservados, Logistica & distribución Rutas del Sol S.R.L.</p>


    </footer>



</body>

</html>