<!--<h1 style="padding-top:15%; padding-left:25%;padding-bottom:5%;color:rgb(6, 1, 16);font-size:20px;"> Hola {{persona}}! acabas de acceder al administrador del sitio</h1>

<p><a href="/admin/login/logout" class="btn btn-sm btn-danger" , style="margin-bottom:20px;margin-left:40%;color:rgb(11, 9, 8)">Cerrar sesion <i class="fas fa-sing-out-alt"></i></a></p>
>-->

<div class="container" style="padding-top:25%;">

    <div class="row">
        <p class="text-end">Bienvenido/a {{persona}}! al administrador del sitio <a class="btn btn-danger"
                href="/admin/login/logout"> Cerrar sesion <i class="fas fa-sing-out-alt"></i></a></p>

    </div>

</div>