/*font-family: 'Open Sans', sans-serif;*/
/*REGLAS CSS PARA FUENTES*/

/* INDEX - INICIO*/
body {
    /*background: rgb(206, 181, 223);
    background: linear-gradient(90deg, rgba(206, 181, 223, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(174, 0, 0, 0.9934348739495799) 0%, rgba(46, 5, 5, 0.9934348739495799) 1%, rgba(200, 145, 145, 1) 16%, rgba(244, 231, 231, 1) 97%, rgba(238, 165, 165, 1) 99%);*/

    /*background-color: rgb(236, 236, 191);*/
    background: rgb(36, 36, 35);
    background: linear-gradient(180deg, rgb(32, 34, 27) 0%, rgba(243, 245, 249, 1) 93%, rgba(245, 243, 243, 1) 100%);

}


.nombre_empresa {

    color: rgba(22, 22, 24, 0.979);
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Open Sans', 'sans-seriffont-family';
    display: flex;
    bottom: 50px;
    text-align: right;
    align-items: end;
    position: relative;
    margin-left: 25px;
}

.logo_nombre {
    /*background: rgb(206, 181, 223);
    background: linear-gradient(90deg, rgba(206, 181, 223, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(174, 0, 0, 0.9934348739495799) 6%, rgba(228, 19, 19, 0.9934348739495799) 11%, rgba(45, 0, 0, 1) 43%, rgba(0, 0, 0, 1) 100%);*/
    background-image: url(../images/imagen_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border: 0px;
    border-style: solid;
    border-color: black;
    margin-left: 0%;
    margin-right: 0%;
    align-content: center;
    display: flex;
    width: 100%;
    position: fixed;

}

.logotipo {
    width: 260px;
    height: 150px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 0%;


}

#botonera_nav {
    /*background: rgb(206, 181, 223);
    background: linear-gradient(90deg, rgba(206, 181, 223, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(174, 0, 0, 0.9934348739495799) 6%, rgba(228, 19, 19, 0.9934348739495799) 11%, rgba(45, 0, 0, 1) 43%, rgba(0, 0, 0, 1) 100%);*/
    background-color: rgba(8, 8, 8, 0.897);
    padding-top: 120px;
    padding-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 2%;
    padding-left: 5px;
    display: flex;
    padding-bottom: 0%;

}

nav h4 {

    font-family: 'Open Sans';
    color: #96fafa;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    padding-top: 0.6%;
}

nav ul li {
    flex-grow: 2;

}

nav ul li a {

    color: rgb(243, 243, 243);
    padding: 2px 2px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;

}

nav ul li a.activo {
    background: rgb(211, 211, 196);
    background: linear-gradient(0deg, rgb(52, 109, 214) 17%, rgb(52, 54, 56) 70%);
}


nav ul li a:hover {
    background: rgb(69, 70, 71);
    background: linear-gradient(180deg, rgb(2, 38, 73) 17%, rgb(43, 30, 30) 51%, rgb(118, 106, 163) 85%, rgba(243, 245, 249, 1) 100%, rgba(245, 243, 243, 1) 100%);

}

footer {

    /* background: rgb(141, 144, 148);
    background: linear-gradient(180deg, rgba(141, 144, 148, 1) 0%, rgba(24, 2, 4, 1) 12%, rgba(35, 95, 228, 0.5256477591036415) 24%, rgba(176, 151, 151, 1) 100%, rgba(193, 202, 215, 1) 100%, rgba(57, 36, 45, 1) 100%);*/
    /*clear: both;*/
    background-image: url(../images/imagen_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding: 0px;
    margin-top: 0%;
    color: rgb(8, 8, 8);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top: rgb(8, 8, 8);
    border-style: solid;
    border-width: 3px;
    height: 130px;
    width: 100%;





}

footer ul {

    /*list-style: none;
    padding-top: 0%;
    margin-bottom: 5%;*/
    list-style: none;
    margin: 0;
    padding-top: 2%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
    align-items: center;

}

footer h5 {

    font-size: 30px;
    color: rgb(14, 11, 11);




}

footer li {

    flex-grow: 4;

}

footer p {
    margin-top: 20%;
}

.holder {
    max-width: 1200px;
    margin: 20px auto;
}

main img {
    width: 700px;
    height: 400px;
    /*border-top-right-radius: 30%;*/
    /*border-top-left-radius: 35%;*/
    /*border-bottom-left-radius: 15%;*/
    /*border-bottom-right-radius: 35%;*/
    margin-left: 0%;
    margin-top: 2%;


    border-image-slice: fill;
    border-style: solid;
    /*border-color: rgb(245, 242, 242);
    border-width: 4px;*/
    margin-right: 40%;
    border-radius: 15%;





}

.agrandar {

    margin: 80px 80px;

    width: 750px;
    height: 450px;
    transition: all 0.3s ease;


}

.agrandar:hover {
    transform: scale(1.3);
    /*transform: scale(ambos);*/
}

main {

    color: #b9c2c2;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /*font-weight: bold;*/
    background-color: rgb(212, 228, 193);
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 10%;

    /* background-image: url(../imagenes/forwarder2.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/

}

main h3 {

    color: rgb(236, 126, 24);
}

.columnas {

    display: flex;
    justify-content: space-between;
    color: rgb(38, 36, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;



}

.objetivos {
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
    border-color: rgb(12, 12, 12);
    margin-right: 5px;
    padding-top: 0;




}

.nuestros_clientes {

    width: 50%;
    padding-left: 30px;
    padding-right: 35px;
    margin-left: 30px;

}



.imagen_inicio {

    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-top: 20px;

}


.foto_flexbox {

    width: 120%;
    height: 65%;

}

footer img {

    width: 80px;
    height: 80px;

}

.img_div_servicios {
    width: 90%;
    height: 85%;
    border: none;
    border-radius: 40px;
    margin-right: 0;
    margin-left: 1%;


}


.agrandar2 {

    width: 90%;
    height: 85%;
    transition: all 0.3s ease;


}

.agrandar2:hover {
    transform: scale(1.1);
    /*transform: scale(ambos);*/
}

.horarios {

    display: list-item;
    margin-left: 38%;
    padding-top: 10px;
    align-items: center;
    color: #b9c2c2;
    font-weight: 300;

}

.telefonos {

    display: list-item;
    margin-left: 43%;
    padding-top: 10px;
    align-items: center;
    color: #b9c2c2;
    font-weight: 300;

}



/* FIN ESTILOS INDEX - INICIO*/


/* COMIENZO ESTILOS SERVICIOS*/

.imagen_servicios img {


    width: 250px;
    height: 180px;
    margin-left: 0%;
    margin-top: 15px;
    margin-right: 0%;


}


.columnas_servicios {

    display: flex;
    justify-content: space-between;
    color: rgb(25, 23, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    align-content: center;


}

.forwarder {

    background-image: url(../imagenes/forwarder2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 10px;
    color: rgb(39, 51, 63);

}

.foto_flexbox_servicos {

    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border: none;
}

.forwarder h3 {
    color: black;
}



.cargas_peligrosas {

    width: 450px;
    height: 250px;
}

.depositos {

    background-image: url(../imagenes/depositos2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 350px;
    color: rgb(39, 51, 63);
    padding-right: 15px;
    padding-left: 15px;

}

.depositos h3 {

    color: black;

}

@keyframes swing {
    50% {
        transform: translateX(50px);
    }

    40% {
        transform: translateX(-25px);
    }

    50% {
        transform: translateX(3px);
    }

    65% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.swing:hover {
    animation: swing 1s ease;
    animation-iteration-count: 5;
}

/* FIN ESTILOS SERVICIOS*/


/* COMIENZO ESTILOS EQUIPOS/FLOTA*/

.Galeria_equipos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.Galeria_equipos img {

    width: 250px;
    height: 160px;
    padding: 0.4em;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-right: 1%;
    margin-left: 10px;
    margin-top: 50px;

}

.agrandar_galeria {

    width: 95%;
    height: 85%;
    transition: all 0.3s ease;


}

.agrandar_galeria:hover {
    transform: scale(1.1);
    /*transform: scale(ambos);*/
}

.main_galeria {

    background-image: url(../imagenes/terminal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.borde_galeria {

    background: #3e3d3d;
    color: #fff;

    font-size: 0.5em;

    transition: all 0.3s ease;
}

.borde_galeria:hover {
    box-shadow: inset 0 0 0 30px #6c1834;
}

/* FIN ESTILOS FLOTA / EQUIPOS*/


/* COMIENZO ESTILOS COTIZADOR/CONTACTO*/


.contacto{

    display: flex;
    gap:24px;
    color: #0b0b0b;
    background-image: url(../imagenes/contact-center.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.contacto div{

    width: 100%;
}

.datos p{
    font-size: 14px;

}

.datos ul li{

    font-size: 16px;
    font-weight: bold;

}

.formulario p{
    
    display: flex;
   

    }

.formulario p label{

    min-width: 90px;
    display: flex;
    align-items: center;
   

}

.formulario p:nth-child(4){

    align-items: start;
}

.formulario textarea{

    resize: none;
    height: 150px;
    background-color: #eae6a0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.formulario input[type="submit"]{

    background-color:  #eae6a0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: rgb(29, 26, 26);
    font-size: 16px;
    font-weight: bold;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;

}   
input{

    background-color: #eae6a0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


/* FIN ESTILOS COTIZADOR/CONTACTO*/


/* COMIENZO ESTILOS EMPRESA/NOSOTROS*/

.historia {

    color: rgb(38, 36, 36);
    font-weight: 0;

}

.historia h3{

    color: #0b0b0b;
}



/* FIN ESTILOS EMPRESA/NOSOTROS*/


/* COMIENZO ESTILOS EMPRESA/NOSOTROS/NOVEDADES */


.novedades{

    color: #dcd7d7;
    text-align: left;
    border-color: #0b0b0b;
    border-bottom: #0b0b0b;
    border-width: 2px;
    background-image: url(../imagenes/img_4002_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:2px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-style: solid;
  

    

}

/* FIN ESTILOS COTIZADOR/CONTACTO*/


